## Cry-for-help identifier v1

In the building of this identifier we have used <a href="https://www.kaggle.com/nikhileswarkomati/suicide-watch"> this </a> dataset. Our purpose is to scan social media posts and classify them as 'cries for help'. Meaning, our identifier classifies if a post is suicidal. We'll be using some simple methods to create word embeddings and use them for subsequent sentiment classification.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Suicide_Detection.csv')
df.head()

   Unnamed: 0                                               text        class
0           2  Ex Wife Threatening SuicideRecently I left my ...      suicide
1           3  Am I weird I don't get affected by compliments...  non-suicide
2           4  Finally 2020 is almost over... So I can never ...  non-suicide
3           8          i need helpjust help me im crying so hard      suicide
4           9  I’m so lostHello, my name is Adam (16) and I’v...      suicide

In [6]:
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

                                                text        class
0  Ex Wife Threatening SuicideRecently I left my ...      suicide
1  Am I weird I don't get affected by compliments...  non-suicide
2  Finally 2020 is almost over... So I can never ...  non-suicide
3          i need helpjust help me im crying so hard      suicide
4  I’m so lostHello, my name is Adam (16) and I’v...      suicide

In [12]:
df['target'] = df.apply(lambda x: 1 if x['class']=="suicide" else 0, axis=1)
df.head()

                                                text        class  target
0  Ex Wife Threatening SuicideRecently I left my ...      suicide       1
1  Am I weird I don't get affected by compliments...  non-suicide       0
2  Finally 2020 is almost over... So I can never ...  non-suicide       0
3          i need helpjust help me im crying so hard      suicide       1
4  I’m so lostHello, my name is Adam (16) and I’v...      suicide       1

In [14]:
df.drop("class",axis=1,inplace=True)
df.head()

                                                text  target
0  Ex Wife Threatening SuicideRecently I left my ...       1
1  Am I weird I don't get affected by compliments...       0
2  Finally 2020 is almost over... So I can never ...       0
3          i need helpjust help me im crying so hard       1
4  I’m so lostHello, my name is Adam (16) and I’v...       1

### Pre-processing the text:

In [15]:
import re
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\NOVA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [21]:
def preprocessing(ds: pd.Series) -> pd.Series:
    for i in range(len(ds)):
        words=re.sub('[^a-zA-Z]', ' ', ds[i])
        words = (words.lower()).split()
        words = [w for w in words if not w in set(stopwords.words('english'))]
        lem=WordNetLemmatizer()
        words=[lem.lemmatize(w) for w in words]
        words = ' '.join(words)
        ds[i]=words
    return ds

df["text"]=preprocessing(df["text"])
df.head()

C:\Users\NOVA\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                                                text  target
0  ex wife threatening suiciderecently left wife ...       1
1  weird get affected compliment coming someone k...       0
2  finally almost never hear bad year ever swear ...       0
3                     need helpjust help im cry hard       1
4  losthello name adam struggling year afraid pas...       1

In [22]:
df.to_csv("cleaned_text.csv")

In [24]:
df_clean=pd.read_csv("cleaned_text.csv")
df.head()

                                                text  target
0  ex wife threatening suiciderecently left wife ...       1
1  weird get affected compliment coming someone k...       0
2  finally almost never hear bad year ever swear ...       0
3                     need helpjust help im cry hard       1
4  losthello name adam struggling year afraid pas...       1